#=============================================================#
# Material Bank – základní konfigurace / basic configuration  #
#=============================================================#

# CS: Přepínač jazyka pro texty z modulů (cs | en).
#
# EN: Language used for module text output (cs | en).
MaterialBank.Locale = cs

# CS: Pozor, neměňte toto nastavení, pokud už máte u bankéře uložené předměty.
#     0 = každá frakce má vlastní banku (Alliance a Horde oddělené)
#     1 = všechny postavy na účtu sdílejí jednu společnou banku (Alliance + Horde)
#
# EN: Warning: do not change this setting if you already have items stored at the banker.
#     0 = each faction has its own bank (Alliance and Horde separated)
#     1 = all characters on the account share a single common bank (Alliance + Horde)   
MaterialBank.SharedAcrossFactions = 0

# CS: Jaký NPC entry se použije pro přivolaného bankéře (.bank)
# EN: Which NPC entry will be used for the summoned banker (.bank)
MaterialBank.BankerNpcEntry = 987458

# CS: Jak dlouho (v milisekundách) bude přivolaný bankéř spawnutý.
# EN: How long (in milliseconds) the summoned banker will stay spawned.
# default 300000 = 5 minutes
MaterialBank.BankerDespawnMs = 300000

# CS: Cooldown mezi přivoláním bankéře (v sekundách)
# EN: Cooldown between summoning the banker (in seconds)
# default 305 = 5 minutes
MaterialBank.SummonCooldown = 305

# CS: Minimální interval mezi .mb sync (Sync tlačítko v addonu) 
# EN: Minimum interval between .mb sync (Sync button in addon)
MaterialBank.SyncCooldownMinutes = 15

# CS: Seznam ID itemEntry která jsou vždy zablokována pro vkládání.
#     Tento seznam zakázaných položek má přednost před všemi seznamy povolených položek.
#
# EN: List of itemEntry IDs that are ALWAYS blocked from deposit.
#     This denylist has priority over all allowlists.
MaterialBank.BlockDepositItemIds = "17030"

# CS: Povoluje vkládání konkrétních soulbound předmětů.
# EN: Allows depositing specific soulbound items.
MaterialBank.AllowSoulboundItemIds = "44050,42943,42945,42947,42949,42951,42944,42946,42948,42950,42952,42984,42991,48677,48685,48689,42985,42992,48683,48687,48691,48716,48718,50255,49177,44107,44103,44105,44102,44101,44100,44099,44098,44097,44115,44091,44096,44092,44094,44095,44093"

# CS: Povoluje vkládání konkrétních soulbound questových předmětů.
# EN: Allows depositing specific soulbound quest items.
MaterialBank.AllowQuestSoulboundItemIds = "12753,44133,44149,44874,44877,44701,44152,44137,44131,44130,44132,44129,44702,44159,44141,44140,44138,44134,44136,44135,44150,44139"

# CS: Povoluje vkládání konkrétních questových předmětů.
# EN: Allows depositing specific quest items.
MaterialBank.AllowQuestItemIds = "25719,11754,12607"

# CS: Po každém vkladu/výběru se spustí zpožděné uložení inventáře postavy.
#	  Pokud před uplynutím této prodlevy proběhne další push/pull, časovač se resetuje a začne běžet znovu.    
#
# EN: After each deposit/withdrawal, a debounced save of the character’s inventory is triggered.
#     If another push/pull happens before the delay expires, the timer resets.
#
# Minimum: 1000 (1 second)
# Recommended: 2500 - 5000
MaterialBank.SaveDelayMs = 3500
